{% macro print_message(message, label, show_user=True) -%}
    <a href="{{message.url}}">
        {{message.count}} {{label}}
        on {{message.dt}}
        {% if show_user %}
            by <b>{{message.user}}</b>
        {% endif %}
        in <b>{{message.channel}}</b><p/>
   </a>
{%- endmacro %}

{% macro percent(num, divider, showPercent=True) -%}
    {% if showPercent %}
        {{'{0:0.1f}%'.format(num * 100.0 / divider)}}
    {% else %}
        {{'{0:0.1f}'.format(num * 100.0 / divider)}}
    {% endif %}
{%- endmacro %}

{% macro flprint(num, percent=True) -%}
    {% if percent %}
        {{'{0:0.1f}%'.format(num)}}
    {% else %}
        {{'{0:0.1f}'.format(num)}}
    {% endif %}
{%- endmacro %}

{% macro btr(list_of_headers) -%}
    <tr>
        {% for header in list_of_headers %}
            <td><b>{{header}}</b></td>
        {% endfor %}
    </tr>
{%- endmacro %}

{% macro print_user(user) -%}
    <div title="{{user['hover']}}">
        <a href="{{user['url']}}">
            {{user['label']}}
        </a>
    </div>
{%- endmacro %}    
